* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

nav a,
a,
.hero {
  text-decoration: none;
  color: #ffffff;
  font-size: 1vw;
}

.hero p {
  font-size: 1.2vw;
}

.title {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title h1 {
  font-size: 8vw;
  color: rgb(156, 154, 154);
  font-weight: bold;
}
.home,
.home-infoCity,
.notFound {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  background-attachment: fixed;
}
element.style {
  width: 37vw;
}
.title h2,
h3 {
  font-family: "Jost", sans-serif;
  color: #bdbdbd;
  font-weight: bold;
  font-size: 1.7vw;
}
.title-infoCity .hero {
  font-size: 0.5vw;
  padding: 0.5vw;
  width: 10vw;
}
.main h2 {
  margin-top: 1vh;
  font-size: 2vw;
  color: rgb(243, 243, 243);
  font-weight: bold;
}

.navbar-nav,
.nav-footer {
  display: flex;
  min-height: 15vh;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 3vw;
}

input.buscador, textarea {
  background-color: rgba(0, 0, 0, 0.507) !important;
  border-bottom: 1px solid rgb(167, 167, 167);
}
.nav-footer {
  background-color: #08080879;
}

/* Links nav */
.nav-link > * {
  color: white;
  height: 6vh;
}

/* nav completo */
.navbar-nav {
  width: 94%;
}

/* cada uno de los links */
.navbar-nav a {
  width: 7vw;
  text-align: center;
  color: white;
}

.links-navegacion {
  width: 7vw;
  text-align: center;
  height: 6vh;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

a.active,
.hero {
  background-color: #cccccc42;
  backdrop-filter: blur(20px);
  border-radius: 50px;
  width: 7vw;
  height: 6vh;
  text-align: center;
}

.title .hero {
  margin-top: 2vh;
  width: 11vw;
  padding: 0.5vw;
  border: 0.5px solid rgb(83, 83, 83);
  background-color: #cccccc00;
}

.logo {
  width: 5vw;
}

.user {
  min-width: 9vw;
  min-height: 9vh;
}
.user2 {
  border-radius: 42px;
  /* width: 4.5vw; */
  height: 9.7vh;
}
.heart p {
  width: 6vw !important;
}
.dropdown-menu {
  background-color: rgba(29, 28, 28, 0) !important;
  color: rgba(255, 255, 255, 0.671);
  padding: 1vw;
  position: absolute;
  border: none;
  width: 12vw;
  margin-left: -11vw;
  margin-top: -15vh !important;
  border-left: 1px solid #ffffff3d;
}

.dropdown-toggle::after {
  display: none;
}
.redesSociales {
  width: 10vw;
}

.redesSociales img {
  width: 7vw;
}

.footer p {
  color: white;
}

/* INFO-CITY */
.home-infoCity {
  background-position: 100% 15%;
  text-align: center;
  background-color: #fff;
}

.h2-infoCity {
  font-size: 6rem;
  min-height: 80vh;
  font-weight: bold;
  color: rgb(219, 218, 218);
  text-shadow: 1px 1px 2px black;
  text-align: center;
  margin-top: 26vh;
}

.title-infoCity h3 {
  background-color: rgba(5, 5, 5, 0.76);
  padding: 1vw;
  font-style: italic;
  width: 30%;
}

/* CARRUSEL */

.foto,
.seccion-galeria {
  width: 30vw;
  height: 45vh;
  background-size: cover;
  background-position: 100% 15%;
  background-repeat: no-repeat;
  margin: 0.3vw;
  border: 1px solid white;
}
.main2 h2 {
  width: 80%;
  text-align: center;
  color: rgb(218, 216, 216);
  font-weight: bold;
}
.information > * {
  background-position: 50% 10%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
  width: 30vw;
  margin-top: 5vh;
}

.information {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.cityNotFound {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.cityNotFound > * {
  padding: 1vw;
  color: rgb(235, 235, 235);
  font-weight: bold;
  display: flex;
  margin-right: 4vw;
}
.cajaFotos,
.home-infoCity2 {
  max-width: 60vw;
  min-height: 50vh;
  display: flex;
  text-align: center;
  margin-top: 8vh;
  justify-content: center;
}
.home-infoCity2 {
  min-height: 5vh !important;
  margin: 1vw;
  align-items: center;
  max-width: 100vw;
}
.ciudades {
  color: #ffffff98;
  background-color: #02020296;
  margin-top: -5vh;
  text-align: center;
}

.foto:first-child {
  width: 21vw;
  height: 71.5vh;
}

.foto:nth-child(2) {
  width: 21vw;
  height: 30vh;
}

.foto:nth-child(3) {
  width: 21vw;
  height: 30vh;
}

.foto:nth-child(4) {
  width: 41vw;
  height: 35vh;
  position: absolute;
  margin-left: 21.9vw;
  margin-top: 36.8vh;
}

.main,
.main2 {
  background-color: rgba(24, 23, 23, 0.384);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.carousel-control-next,
.carousel-control-prev {
  margin: -15vw;
}

.ciudadNoEncontrada {
  height: 60vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
}
.ciudadNoEncontrada h2 {
  margin-top: 10vh;
  width: 50vw;
  color: white;
  font-weight: bold;
}
.ciudadNoEncontrada img {
  width: 200px;
  height: 200px;
}

/* CITIES */

.cities {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cities h2 {
  font-size: 5vw;
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(20px);
  padding: 0.5vw;
  font-weight: bold;
}

input, textarea {
  padding: 1vw;
  border: none;
  outline: none;
  margin-top: 1vh;
}
/* GALERIA */
section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cajaGaleria {
  margin-top: 5vh;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.733);
}
.carousel-control-next,
.carousel-control-prev {
  background-color: #fff;
  height: 10vh;
  display: none;
}
p.descripcion {
  font-size: 1vw;
  width: 90%;
}
.navbar-nav > * {
  flex-direction: column;
  font-size: 3vw;
}
.cajaDescripcion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 3vw;
  height: 100%;
  background-color: #000000b2;
  text-shadow: 1px 1px 4px black;
  opacity: 0;
}

.cajaDescripcion:hover {
  opacity: 1;
  transition: 0.8s;
}

.galeria {
  background-position: 30% 20%;
  cursor: pointer;
  background-size: cover;

}

.galeria {
  height: 100%;
}

div.usuario {
  background-size: cover;
}

/* FORM */
form {
  width: 60vw;
}
.form-control {
  border-bottom: 1px solid rgb(240, 240, 240) !important;
  border: none;
  color: white !important;
  background-color: #ce237a00;
}
div h2,
div p {
  color: white;
}
.btn-primary {
  background-color: transparent;
  width: 20vw;
  backdrop-filter: blur(5px);
  border: none;
  border-bottom: 1px solid white;
}
.btn-primary:hover {
  background-color: #41464b52;
  border-color: none;
}
.botonSub .btn-primary {
  width: 60vw;
}
.botonSub2,
a span {
  font-size: 1.5vw;
}
::placeholder {
  color: white !important;

}
input , textarea{
  background-color: rgba(53, 0, 0, 0) !important;
  color: white;
}
textarea {
  border-bottom: 1px solid white;
  overflow: hidden;
}

select.form-control {
  color: white !important;
  background-color: rgba(24, 24, 24, 0.377) !important;
}
/* HOVERS */
.galeria:hover {
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.459);
}
p.p {
  cursor: pointer;
  color: white;
}
.foto:hover {
  background-color: #000000;
  backdrop-filter: blur(20px);
  transition: 2s;
}

.ciudades:hover {
  font-size: 5vw;
  color: rgb(250, 250, 250);
  background-color: rgb(2, 2, 2);
  margin-top: -5vh;
  transition: 1s;
}

h1:hover {
  color: #ffffffd0;
  text-shadow: 1px 1px 6px black;
}

.hero:hover {
  width: 13vw;
  transition: 0.8s;
  font-size: 1.1vw;
  color: white;
  background: rgba(0, 0, 0, 0.767);
}

nav a:hover,
.hero:hover {
  color: #f3ecec !important;
  /* background-color: rgba(29, 26, 26, 0.404); */
  border-radius: 20px;
}

/* SCREEN PHONES */

@media (max-width: 575px) {
  .sectionMT {
    margin-top: 5vh;
  }
  form {
    width: 80vw;
  }
  .heart p {
    display: flex;
    margin-left: 6vw !important;
  }
  .user {
    margin-left: -7vw !important;
  }

  .botonSub .btn-primary {
    width: 79.5vw;
  }
  .btn-primary {
    width: 39vw;
    margin: 0.5vw;
  }
  .botonSub2,
  a span {
    font-size: 4vw;
  }
  .title h2 {
    width: 80%;
    text-align: center;
    font-size: 5vw;
  }

  nav a {
    font-size: 3vw;
  }

  div.imagen {
    width: 25vw;
    height: 20vh;
    margin-right: 57vw;
    margin-top: 10vh;
  }
  div.imagen2 {
    margin-left: -8vw;
    margin-top: -1.2vh;
  }

  div.heart {
    position: absolute;
    width: 22px;
    margin-right: 48vw;
    margin-top: 0vh;
    height: 4vh;
    background-position: 100%;
  }
  .user2 {
    width: 47px;
    height: 47px;
  }
  .dropdown-menu {
    margin-left: -22vw !important;
    margin-top: -2vh !important;
  }
  .navbar-collapse {
    z-index: 1;
  }
  .dropdown-item,
  li.nav-link {
    margin-left: 0vw;
    margin-top: 0vh;
    font-size: 3vw;
  }

  div.g h2 {
    font-size: 2.5vw;
  }
  .title .hero {
    padding-top: 1.2vh;
    border-radius: 90px;
    width: 28vw;
    height: 6.5vh;
    border: 1px solid rgba(255, 255, 255, 0.116);
  }

  .title .hero p {
    font-size: 3vw;
  }

  .hero {
    font-size: 3vw;
  }

  .hero:hover {
    font-size: 3vw;
  }
  .main {
    min-height: 220vh;
    width: 100vw;
  }
  .cajaFotos {
    flex-direction: column;
    width: 100vw;
    margin: 0;
  }

  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
  .foto {
    background-size: cover;
    background-position: 100% 0;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 2vh;
    border: none;
  }

  .foto:first-child,
  .foto:nth-child(2),
  .foto:nth-child(3),
  .foto:nth-child(4) {
    width: 55vw;
    height: 40vh;
    margin-top: 5vh;
  }

  .foto:nth-child(4) {
    position: initial;
    margin-top: 5vh;
    margin-left: 0vw;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    position: absolute;
    background-color: #1a1a1a6b;
    backdrop-filter: blur(3px);

    padding: 54px;
    min-height: 39vh;
    width: 57%;
    flex-wrap: nowrap;
    align-items: center;
  }
  .links-navegacion p {
    width: 10vw;
  }
  .links-navegacion p {
    color: white;
    font-size: 3vw;
    padding: 0vh;
    margin: 0;
    width: 20vw;
  }
  a.active {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: none;
  }
  a.nav-link.active {
    background-color: rgba(255, 255, 255, 0);
  }

  .foto:hover {
    border: none;
  }

  .main h2 {
    font-size: 5vw;
  }

  .nav-footer p {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
  }

  .redesSociales .logoRedes {
    width: 15vw;
  }

  .cajaGaleria {
    width: 100%;
  }

  .galeria {
    width: 90%;
    margin-bottom: 1vh;
  }
  .main2 {
    min-height: 120vh;
  }
  .main2 h2 {
    font-size: 3vw;
    margin-top: 4vh;
  }
  .information {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .information > * {
    height: 50vh;
    width: 100vw;
    margin-top: 1vh;
  }

  .home {
    background-position: 50% 50%;
  }

  .ciudadNoEncontrada img {
    width: 120px;
    height: 100px;
  }
  .cajaDescripcion {
    background-color: #00000070;
    opacity: 1;
  }

  .cajaDescripcion > * {
    text-shadow: 1px 1px 4px black;
    font-size: 10vw;
  }
  .descripcion {
    display: none;
  }

  .title-infoCity h2 {
    font-size: 9vw;
  }
  .title-infoCity h3 {
    font-size: 5vw;
    width: 50%;
  }
  .title-infoCity .hero {
    width: 31%;
    height: 6vh;
    padding: 1vh;
  }
  .title-infoCity .hero p {
    font-size: 3.2vw;
  }
  .title h2,
  h3 {
    font-size: 3.7vw;
  }
  .grande {
    flex-direction: column;
  }
  div.grande .caja {
    width: 99%;
    min-height: 56vh;
    margin-top: 0vh;
  }
  div .usuario,
  .caja > p {
    width: 70px;
    margin-left: 56vw;
    margin-top: -8vh;
  }
  div.caja > p {
    font-size: 3vw;
    width: 62vw;
  }
  div.caja.g.sectionMT {
    height: 20vh !important;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
  }
  .comentario {
    margin-top: 1vh !important;
  }
  div.usuario {
    background-size: cover;
    background-color: #fff;
  }

  .h2-infoCity {
    font-size: 3rem;
    padding: 9vw;
  }

  .seccion-galeria {
    width: 80%;
  }
  .galeria {
    width: 100%;
  }

  div.mensaje {
    width: 67vw;
    height: 10vh;
    margin: 0vh;
    background-position: 50% 64%;
  }
  a.boton > * {
    font-size: 4vw;
    padding-top: 1vh;
  }
  .g p {
    width: 55vw !important;
    font-size: 3.5vw !important;
    margin-left: 25vw;
    margin-top: 0vh;
    text-align: end;
  }
}

/* PRELOADER */

.preloader {
  width: 100%;
  height: 100vh;
  background: radial-gradient(#66556d07, #8d44ad00);
}
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(26, 24, 24);
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.562);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.wrapper span {
  position: absolute;
  top: 75px;
  /* font-family: 'Lato'; */
  font-size: 2vw;
  letter-spacing: 12px;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  left: 15%;
}

/* TOSTADA*/
.swal2-popup {
  background-color: rgba(255, 255, 255, 0.034) !important;
  backdrop-filter: blur(50px);
}

.swal2-popup > * {
  color: white !important;
}

.swal2-popup button {
  background-color: rgb(107, 103, 103) !important;
}

/* informacion en fotos */

.padre {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
}

.hermano:first-child:hover,
.m:hover,
.m > div:hover,
.mensaje:hover {
  transform: scale(1.03);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.185);
  background-color: rgba(17, 17, 17, 0.74);
}
.hermano:first-child,
.m,
.mensaje {
  transition: transform 0.5s;
}
.m {
  width: 50%;
  height: 50%;
  background-size: cover;
  background-position: 80% 60%;
}

.m > div {
  color: #360101;
  width: 98%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div a:hover {
  text-decoration: none;
  color: white;
}

/* MYTINERARY */
.sectionMT {
  display: flex;
  min-height: 100vh;
  margin: 2vw;
}

.grande {
  width: 90vw;
  height: 78vh;
  display: flex;
  margin: 4vh;
  justify-content: center;
}

.caja {
  background: rgba(0, 0, 0, 0.664);
  backdrop-filter: blur(8px);
  width: 52%;
  min-height: 60vh;
  margin: 1vw;
}

.caja:first-child {
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.usuario:hover,
.imagen:hover,
.boton:hover,
h1:hover,
div.heart:hover,
nav a:hover, .boton2:hover {
  transform: scale(1.1);
  transition: all 800ms ease;
  cursor: pointer;
}

.boton,.boton2 {
  width: 36vw;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.76);
  backdrop-filter: blur(4px);
  color: white;
  transition: all 500ms ease;
  text-align: center;
  padding-top: 1vh;
  margin-top: 4vh;
}
.boton2 {
  width: 5vw;
  margin-top: 0vh;
}
.usuario,
.caja > p {
  min-width: 5rem;
  height: 15vh;
  border-radius: 50px;
  position: absolute;
  margin-top: -9vh;
  margin-left: 23vw;
  background-position: center;
}
.imagen2 {
  margin-left: 21vw;
}
div.imagen2 > p {
  width: 12vw;
}
.caja > p {
  font-size: 1vw;
  width: 31vw;
  height: 2vh;
  margin-top: -6vh;
  margin-left: -3vw;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.808);
  letter-spacing: 0.5vw;
  text-transform: uppercase;
  text-shadow: 3px 2px 3px black;
}

div .g,
.mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mensaje {
  height: 20vh;
  width: 20vw;
  background-position: 100% 82%;
  background-size: cover;
  padding: 10vw;
}
.g h2 {
  font-size: 1.2vw;
  margin-top: 5vh;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}
.g,
.g > * {
  margin-top: 1vh;
  font-weight: bold;
  color: white;
  text-align: center;
}

.g p {
  font-weight: normal;
  width: 30vw;
  font-size: 1.1vw;
}

.imagen {
  width: 25vw;
  height: 30vh;
  position: absolute;
  margin-right: 21vw;
  background-size: cover;
  margin-top: 36vh;
  background-position: 58% 23%;
}

.usuario2 {
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50px;
  background-size: contain;
  margin-left: 1rem;
}

.comentario {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vh;
}


.comentario p {
  width: 25vw;
  text-align: start;
  margin-left: 1vw;
}
.heart {
  background-size: cover;
  width: 2vw;
  height: 4vh;
  margin-left: -27vw;
}
.g input {
  background-color: rgb(31, 30, 30);
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  height: 0vh;
  width: 30vw;
  margin: 1vw;
}

.icono {
  width: 5vw;
  height: 5vh;
  background-size: cover;
  background-position: 100% 50%;
  background-color: #fff;
}

.dropdown-item:hover {
  color: rgba(255, 255, 255, 0.946) !important;
  background-color: rgba(197, 188, 188, 0.219);
  width: 10vw;
}

p.dropdown-item {
  margin-right: 2vw !important;
  border-radius: 20px;
  min-width: 8vw;
}

.formulario-caja {
  min-height: 56vh;
  padding: 1vw;
}

@media screen and (min-width: 576px) and (max-width: 800px) {
  div .usuario,
  .caja > p {
    min-width: 63px;
    height: 13vh;
  }
 
  .g h2 {
    font-size: 2vw;
  }
  .heart p {
    font-size: 2vw !important;
    width: 8vw !important;
  }
  .heart {
    width: 20px !important;
  }
  .g p {
    font-size: 1.5vw;
  }
  .caja {
    width: 52%;
  }

  .user2 {
    background-color: #fff;
  }
  .imagen {
    width: 22vw;
    height: 20vh;
    position: absolute;
    margin-right: 20vw;
    background-size: cover;
    margin-top: 42vh;
    background-position: 58% 23%;
  }
}
div.fotosItinerarios {
  border: 1px solid white;
  height: 26vh;
  width: 26vw;
  margin-left: 15vw;
  margin-top: -8vh;
  position: absolute;
  /* background-size: cover;
  background-position: 94% 75%; */
}
.foto2:first-child {
  width: 27vw;
  height: 24.5vh;
  background-size: cover;
  background-position: 100% 15%;
  background-repeat: no-repeat;
  margin: 0.3vw;
}
.g:nth-child(2) h2 {
  margin-top: 22vh;
}

.caja:nth-child(2) {
  min-height: 70vh;
}
.scroll {
  overflow-y:scroll ;
  padding: 1vw;
  height: 30vh;
  width: 90%;
}